#dashboard {
    .bg-pic {
        background-color: $black2;
    }

    .login-container {
        .btn-facebook {
            background-color: $facebook;
            border-color: $facebook;
        }
        .btn-google {
            background-color: $google;
            border-color: $google;
        }
    }

    .btn-primary {
        border-color: $primary !important;
    }

    .header, .sidebar-header {
        .brand {
            padding-right: 20px;
        }

        .bubble {
            top: -5px;
            float: left;
            left: 8px;
        }
    }

    .page-sidebar-2 {
        background-color: $primary;

        a, .icon-thumbnail {
            color: $white-2;

            :hover {
                color: $white;
            }
        }

        .sub-menu {
            background-color: $primary-darken;
        }
    }

    .table tbody tr td {
        padding: 5px;
    }

    .dataTables_scrollBody {
        max-height: 600px !important;
    }

    .catalog-holder {
        img {
            width: 100%;
            background-size: cover;
            min-height: 200px;
            max-height: 200px;
        }
    }
}